<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cshbxy.mapper.StudentMapper">
    <select id="findById" resultType="student">
        select *
        from mybatis.dm_student
        where id = #{id}
    </select>
    <select id="findStudentByNameOrMajor" resultType="student">
        select *
        from mybatis.dm_student
        <where>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="major!=null and major!=''">
                and major=#{major}
            </if>
        </where>
    </select>
    <select id="findByMajor_Arrays" resultType="student">
        select * from mybatis.dm_student where id in
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="findByMajor_List" resultType="student">
        select * from mybatis.dm_student where id in
        <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <update id="updateById">
        update mybatis.dm_student
        <set>
            id=#{id},
            name =#{name},
            major=#{major},
            sno=#{sno}
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>