<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace:命名空间规则，具有唯一性。可以自己命名，但建议与Dao接口的全限定类名一致
-->
<mapper namespace="com.cshbxy.mapper.UserMapper">
    <!--    查询所有记录-->
    <select id="selectAll" resultType="user">
        select *
        from mybatis.users
    </select>
    <!--    按id查询-->
    <select id="selectById" parameterType="int" resultType="user">
        select *
        from mybatis.users
        where uid = #{uid}
    </select>
    <!--    按id及姓名查询。如果传入多个参数，依序分别用#{arg0}、#{arg1}……表示-->
    <select id="selectByIdName" resultType="user">
        select *
        from mybatis.users
        where uid = #{arg0}
          and uname = #{arg1}
    </select>
    <select id="selectByName" resultType="user">
        select *
        from mybatis.users
        where uname like concat('%', #{uname}, '%')
    </select>
    <select id="selectByAll" resultType="user">
        select *
        from mybatis.users
        where uid = #{uid}
           or uname = #{uname}
           or uage = #{uage}
    </select>
    <insert id="add">
        insert mybatis.users (uid, uname, uage) value (#{uid}, #{uname}, #{uage})
    </insert>
    <update id="update">
        update mybatis.users
        set uname=#{uname},
            uage=#{uage}
        where uid = #{uid}
    </update>
    <delete id="deleteById">
        delete
        from mybatis.users
        where uid = #{uid}
    </delete>
</mapper>